@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  flex: 1;
}

.carousel-container {
  width: 40%;
  max-width: 400px;
  margin-right: 20px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.form-container {
  width: 60%;
  max-width: 600px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form input,
.form select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

.form button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.form button:hover {
  background-color: #61dafb;
}

.error {
  color: red;
  font-weight: bold;
}

.prediction-details {
  margin: 20px;
  font-size: 20px;
  text-align: left;
  animation: fadeIn 0.5s ease-in-out; /* Animation for showing */
}

.prediction-details.hidden {
  animation: fadeOut 0.5s ease-in-out; /* Animation for hiding */
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}

.reset-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #282c34;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.reset-button:hover {
  background-color: #61dafb;
}
